* {
    box-sizing: border-box;
  }
  
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.nav li active{
	font-weight: bold;
}

.contenido{
  display: flex;
  flex-flow: column nowrap;
}
.menu{
  display: flex;
  flex-flow: row nowrap;
}

.fotopersona img {

  width: 300px;
  height: 300px;
}

.informacion{
    margin-top: 60px;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
  }

.pie {
  flex: auto none 1;
}

iframe{
  overflow:hidden;
}

#page-cont{
  flex: 1 0 auto;
}

.foto {
    margin-right: 135px;
    position: relative;
    display: inline-block;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}


.foto{
    width: 100px;
}
.foto:hover{
   	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
/* Para el rss */
.rss{
  width: 1.6%;
  margin-left: 98%;
}

/* Galeria con reposive */
@media screen {
  .foto {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 100px;
  }

  .rss{
    width: 1.6%;
    margin-left: 98%;
  }
	.galeria{
		display: inline;
	}
	
	.galMob{
		display: none;
	}
}



@media screen and (max-width: 600px) {
  .foto {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 300px;
  }
  
  .rss{
    width: 45.6%;
    margin-left: 0;
  }

	.galeria{
		display: none;
	}
	.galMob{
		display: inline;
	}
}

/* Calendario */
.calendario{
  width: 40%;
}

.calendario .mes{
  padding: 70px 25px;
  width: 100%;
  background: #0400ff;
  text-align: center;
}

.calendario .mes article{
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.calendario .mes article span{
  font-size: 18px;
}

.calendario .diaSemana{
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.calendario .diaSemana article{
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.calendario .dias {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.calendario .dias article {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.calendario .dias article .evento {
  padding: 5px;
  background: blue;
  color: white !important;
}

.calendario .dias article .pas {
  color: rgba(119, 119, 119, 0.308) !important;
}


/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  /*.weekdays li, .days li {width: 13.1%;}*/
  .calendario {width: 40%;}
}

@media screen and (max-width: 420px) {
  .calendario {width: 35%;}
  .calendario .dias article .evento {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .calendario {width: 30%;}
}